/* Css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,input,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
text-decoration: none;
font-family:Helvetica Neue, Helvetica, sans-serif;
text-align:center;
text-rendering:optimizeLegibility;
-webkit-font-smoothing:antialiased;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

body {
line-height:1;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* My styles */
* {
	-webkit-user-select:none; /* Prevents forms from working */
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:transparent;
	margin:0;
}

body{
	background-color:#DCDCDC;
}

h1 {
	font-size: 20%;
	font-weight: 900;
}
a{
	color:#595959;
	display:block;
	font-size:60%;
	position:relative;
	padding:1% 2%;
}
.stat {
	font-size: 60%;
	padding:2% 0 2% 0;
}
.hidden {
	display: none;
}
.question{
	cursor:help;
}
.answer{
	font-size:12%;
	cursor:pointer;
}
#game-content {
	-webkit-backface-visibility: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.input-line {
	width: 200%;
	overflow: hidden;
	font-size: 16%;
	tezt-align: left;
	border-bottom: 2px solid black;
	vertical-align: middle;
	background: none;
	height: 20%;
	line-height: 120%;
	-webkit-user-select:text;
}
input {
	float: left;
	text-align: right;
	width: 50%;
	border: none;
	vertical-align: middle;
	background: none;
	-webkit-user-select:text;
}
label {
	float: left;
	text-align: left;
	position: relative;
	left: -50%;
	width: 25%;
	border: none;
	vertical-align: middle;
	background: none;
}

.answer,.question{
	background-color:#F6F6F6;
	border:1px solid #ABABAB;
	border-radius:18px;
	box-shadow:inset 0 1px 2px rgba(255,255,255,1), 0 1px 0 rgba(26,26,26,0.08);
	color:#595959;
	display:block;
	vertical-align: middle;
}
.incorrect{
	color:#995959;
	background-color:#F99999;
}
.correct{
	color:#599959;
	background-color:#99F999;
}

#choice-1, #choice-2, #choice-3, #choice-4 { position: absolute; }

.horizontal #question { top:  0%; left:  0%; width: 100%; height: 35%; line-height: 99%; font-size: 35%; }
.horizontal #choice-1 { top: 37%; left: -1%; width:  48%; height: 28%; line-height: 99%; font-size: 28%; margin: 2%;}
.horizontal #choice-2 { top: 67%; left: -1%; width:  48%; height: 28%; line-height: 99%; font-size: 28%; margin: 2%;}
.horizontal #choice-3 { top: 37%; left: 49%; width:  48%; height: 28%; line-height: 99%; font-size: 28%; margin: 2%;}
.horizontal #choice-4 { top: 67%; left: 49%; width:  48%; height: 28%; line-height: 99%; font-size: 28%; margin: 2%;}

.vertical #question { top:  0%; left:  0%; width: 100%; height: 20%; line-height: 99%; font-size: 20%; }
.vertical #choice-1 { top: 21%; left: -1%; width:  98%; height: 16%; line-height: 99%; font-size: 16%; margin: 2%;}
.vertical #choice-2 { top: 38%; left: -1%; width:  98%; height: 16%; line-height: 99%; font-size: 16%; margin: 2%;}
.vertical #choice-3 { top: 55%; left: -1%; width:  98%; height: 16%; line-height: 99%; font-size: 16%; margin: 2%;}
.vertical #choice-4 { top: 72%; left: -1%; width:  98%; height: 16%; line-height: 99%; font-size: 16%; margin: 2%;}

.transition{
	-moz-transition:all 300ms;
	-webkit-transition:all 300ms;
	-ms-transition:all 300ms;
	-o-transition:all 300ms;
	transition:all 300ms;
}

.horizontal .outRight {
	transform:translateX(200%);
	-moz-transform:translateX(200%);
	-ms-transform:translateX(200%);
	-webkit-transform:translateX(200%);
	-o-transform:translateX(200%);
}
.horizontal .outLeft{ 
	transform:translateX(-200%);
	-moz-transform:translateX(-200%);
	-ms-transform:translateX(-200%);
	-webkit-transform:translateX(-200%);
	-o-transform:translateX(-200%);
}
.horizontal .outDown{
	transform:translateY(300%);
	-moz-transform:translateY(300%);
	-ms-transform:translateY(300%);
	-webkit-transform:translateY(300%);
	-o-transform:translateY(300%);
}
.horizontal .outUp{	
	transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	-webkit-transform:translateY(-300%);
	-o-transform:translateY(-300%);
}
.vertical .outRight{
	transform:translateX(100%);
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	-o-transform:translateX(100%);
}
.vertical .outLeft{ 
	transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	-o-transform:translateX(-100%);
}
.vertical .outDown{
	transform:translateY(625%);
	-moz-transform:translateY(625%);
	-ms-transform:translateY(625%);
	-webkit-transform:translateY(625%);
	-o-transform:translateY(625%);
}
.vertical .outUp{	
	transform:translateY(-625%);
	-moz-transform:translateY(-625%);
	-ms-transform:translateY(-625%);
	-webkit-transform:translateY(-625%);
	-o-transform:translateY(-625%);
}
.outFade{ opacity:0; }